<div>
    <label>Artist's Name:</label>
    <input type="text"  [(ngModel)]="nameFiltered">
</div>
<button type="button" (click)="searchAuthos()">Search</button>
<button type="button" (click)="sortAlbums()">
    <label *ngIf="sortOrder">A-Z</label>
    <label *ngIf="!sortOrder">Z-A</label>
</button>

<table class="table table-hover">
        <thead class="thead design-title-col">
          <tr>
            <th scope="col">Image Logo</th>
            <th scope="col">Artist</th>
            <th scope="col">Album</th>
            <th scope="col">Price</th>
            <th></th>
    
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let album of albums">
            <td *ngIf="album.artworkUrl60!=''"><img class="card-img" src={{album.artworkUrl60}} alt="Card image cap" ></td>
            <td *ngIf="album.artworkUrl60==''"><img class="card-img" src="http://www.clker.com/cliparts/2/7/2/0/1516232185375465764cliparts-point-interrogation.jpg" ></td>
            <td><h6>{{album.artistName}}</h6></td>
            <td><h6>{{album.collectionName}}</h6></td>
            <td><h6>{{album.collectionPrice}}</h6></td>
    
          </tr>
        </tbody>
      </table>
